<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Apni Kalm</title>

{{>links}}

</head>
<body>

{{>header}}

<main class="main">
<div class="flex-div">
    <div class="col-2">
        <div class="main-section">
            <h1><span style="color:red">{{UserName}}</span>! WELCOME TO APNI KALM</h1>
                <p>Learn, Practice Test, Analyse and ask doubts to </p>
                   <p>Apni Kalm Q&A community.</p>
        </div>
    </div>
    <div class="col-2">
        <img src="images/ae5ae16a1f8bdad663c96a699d91e646.jpg"  alt="">
    </div>
</div>

</main>



{{>scriptLink}}

<!-- <script src="script.js"></script> -->
</body>

</html>