<header>
    <div class="container"> <!-- Used for Giving Both Side Margin of 5 px -->
        <nav>
            <div class="flex-div Nav-bar">
                <!-- First Column -->
                <div class="nav-left flex-div">
                    <!-- <div class="menu-icon" id="menu-icon"> -->
                        <img src="images/menu.png" id="menu-icon" alt="menu-icon">
                    <!-- </div> -->
                    <!-- <img src="images/logo.png" alt="logo"> -->
                   <a href="/index"><h2 id = "logo-Heading">Apni Kalm</h2></a>
                </div>
                <!-- Third Column -->
                <div class="nav-right flex-div">
                    <button onclick="DarkMode()" class="DarkMode" id="menubarButton">
                         <i class="fas fa-moon"></i>
                         <i class="fas fa-sun"></i>
                         <div class="ball"></div>
                     </button>
                    <img src="images/new/user.png" id="account-icon" alt="">
                </div>
            </div>

        </nav>
            
        
           


        </div>
    
    </div>


    <div class="sideBar" id="sideBar">
        <div class="row  flex-div ">
            <img src="images/new/open-book.png" alt="">
            <!-- <i class="fas fa-book"></i> -->
            <a href="/ComingSoon">Courses</a>
        </div>
        <div class="row  flex-div ">
            <img src="images/new/test.png" alt="">
            <a href="/testPage">Test</a>
        </div>
        <div class="row  flex-div ">
            <img src="images/new/progress-report.png" alt="">
            <a href="/progressReport">Progress Report</a>
        </div>
        <div class="row flex-div ">
            <img src="images/new/user.png" alt="">
            <a href="/profilePage">Profile</a>
        </div>
        
        
        <hr>  <!-- Horizotal Ruler --> </hr>
        
        <div class="row">
            <h3>Currently</h3>
        </div>
        <div class="row  flex-div ">
            <img src="images/new/login.png" alt="">
            <a href="/loginPage">LogIn</a>
        </div>
        <div class="row  flex-div ">
            <img src="images/new/login.png" alt="">
            <a href="/register">Sign Up</a>
        </div>
        <div class="row  flex-div ">
            <img src="images/new/enter.png" alt="">
            <a href="/index">LogOut</a>
        </div>
        
    </div>


    <!-- <div class="downBar flex-div "id="DownBar">
        <div class="DownBar-text active">
        <img src="images/home.png" alt="">
        <p><a>Home</a></p>
        </div>
        <div class="DownBar-text">
        <img src="images/explore.png" alt="">
        <p>Explore</p>
        </div>
        <div class="DownBar-text">
        <img src="images/history.png" alt="">
        <p>History</p>
        </div>
    </div> -->

</header>